* {
	margin: 0;
}

a { text-decoration: none; }

a:visited { text-decoration: none; color: black; }

a:hover { text-decoration: none; color: black; }

a:focus { text-decoration: none; color: black; }

a:hover, a:active { text-decoration: none; color: black; }

.divider {
	height: 3px;
}

#main-container {
	width: 100%;
	padding: 0px;
}

.about-section {
	height: auto;
}

.about-section-profile-image {
	border-radius: 50%;
}

.about-section-profile-name {
	color: #333;
	font-weight: 600;
}

.about-section-faq {
	text-align: center;
}

.about-section-faq-header {
	font-size: 20px;
	font-weight: 400;
	color: #333;
}

.about-section-faq-question {
	color: #333;
	font-weight: 400;
}

.about-section-faq-answer {
	color: #555;
	font-weight: 300;
}

.project-link-container {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	height: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.project-link {
	align-self: center;
}

.project-link-container button {
	background-color: white;
	color: #f8946c;
	border: 2px solid #f8946c;
	outline: none;
	cursor: pointer;
	-webkit-transition: 300ms;
	margin: 0 auto;
	border-radius: 4px;
	align-self: center;
	height: 70px;
	width: 140px;
	font-size: 22px;
	font-weight: 400;
}

.project-link-container button:hover {
	background-color: #f8946c;
	color: white;
}

.skill-section {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.skill-section-header {
	color: #333;
	text-align: center;
	font-weight: 600;
}

.skill-section-label {
	text-align: center;
	color: #333;
	font-weight: 400;
}

.skill-section-skill {
	color: #555;
	text-align: center;
	font-weight: 300;
}

.contact-container {
	background-color: white;
	height: 250px;
	text-align: center;
}

.contact-container p {
	color: #4cb07a;
	padding-top: 40px;
	font-weight: 400;
	font-size: 26px;
}

.contact-container button {
	background-color: white;
	color: #4cb07a;
	border: 2px solid #4cb07a;
	cursor: pointer;
	-webkit-transition: 300ms;
	outline: none;
	margin: 0 auto;
	border-radius: 4px;
	align-self: center;
	height: 60px;
	width: 120px;
	font-size: 20px;
	margin-top: 60px;
	font-weight: 400;
}

.contact-container button:hover {
	background-color: #4cb07a;
	color: white;
}

@media only screen and (max-width: 700px) {

	.about-section-profile {
		width: 100%;
		text-align: center;
	}

	.about-section-profile-image {
		height: 80px;
		padding-top: 10px;
	}

	.about-section-profile-name {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 26px;
	}

	.about-section-faq {
		width: 100%;
	}

	.about-section-faq-header {
		padding-top: 10px;
		font-size: 20px;
		padding-bottom: 10px;
	}

	.about-section-faq-question {
		font-size: 18px;
		padding-bottom: 5px;
	}

	.about-section-faq-answer {
		font-size: 16px;
		padding-bottom: 10px;
		margin-left: 40px;
		margin-right: 40px;
	}

	.project-link-container {
		height: 80px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.project-link-container button {
		height: 60px;
		width: 120px;
		font-size: 18px;
	}

	.skill-section-container {
		width: 50%;
		position: relative;
		float: left;
		height: auto;
		margin-bottom: 20px;
	}

	.skill-section-header {
		font-size: 30px;
	}

	.skill-section-icon {
		margin: 15px 15px 15px 15px;
	}

	.skill-section-label {
		font-size: 28px;
		padding-bottom: 10px;
	}

	.skill-section-skill {
		font-size: 18px;
		padding-bottom: 5px;
	}

	.contact-container {
		height: 180px;
	}

	.contact-container p {
		font-size: 18px;
		padding-top: 40px;
	}

	.contact-container button{
		height: 50px;
		width: 100px;
		font-size: 16px;
		margin-top: 40px;
	}

}

@media only screen and (min-width: 701px) and (max-width: 1050px){

	.about-section-profile {
		width: 100%;
		text-align: center;
	}
	
	.about-section-profile-image {
		height: 240px;
		padding-top: 10px;
	}

	.about-section-profile-name {
		padding-top: 10px;
		padding-bottom: 25px;
		font-size: 34px;
	}

	.about-section-faq {
		width: 100%;
	}

	.about-section-faq-header {
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 28px;
	}

	.about-section-faq-question {
		font-size: 24px;
		padding-bottom: 5px;
	}

	.about-section-faq-answer {
		font-size: 20px;
		padding-bottom: 10px;
		margin-left: 60px;
		margin-right: 60px;
	}

	.skill-section-header {
		font-size: 50px;
	}

	.skill-section-container {
		width: 33.3%;
		position: relative;
		height: auto;
		float: left;
	}

	.skill-section-icon {
		margin: 30px 30px 30px 30px;
	}

	.skill-section-label {
		font-size: 36px;
		padding-bottom: 10px;
	}

	.skill-section-skill {
		font-size: 24px;
		padding-bottom: 5px;
	}

}

@media only screen and (min-width: 1051px) {

	.about-section {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.about-section-profile {
		width: 100%;
		text-align: center;
	}
	
	.about-section-profile-image {
		height: 360px;
		padding-top: 10px;
	}

	.about-section-profile-name {
		padding-top: 10px;
		padding-bottom: 25px;
		font-size: 44px;
	}

	.about-section-faq {
		width: 100%;
	}

	.about-section-faq-header {
		padding-top: 25px;
		padding-bottom: 25px;
		font-size: 36px;
	}

	.about-section-faq-question {
		font-size: 28px;
		padding-bottom: 15px;
	}

	.about-section-faq-answer {
		font-size: 24px;
		padding-bottom: 15px;
		margin-left: 200px;
		margin-right: 200px;
	}

	.project-link-container {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.skill-section {
		margin-bottom: 40px;
		margin-top: 40px;
	}

	.skill-section-header {
		font-size: 50px;
	}

	.skill-section-container {
		width: 20%;
		position: relative;
		float: left;
		height: auto;
	}

	.skill-section-icon {
		margin: 35px 35px 35px 35px;
	}

	.skill-section-label {
		font-size: 44px;
		padding-bottom: 10px;
	}

	.skill-section-skill {
		font-size: 28px;
		padding-bottom: 5px;
	}

	.contact-container {
		margin-top: 20px;
		margin-bottom: 20px;
	}

}