/* Global styles - Apply to all screen sizes */

* {
	margin: 0;
	font-family: "Roboto";
}

a { text-decoration: none; }

a:visited { text-decoration: none; color: black; }

a:hover { text-decoration: none; color: black; }

a:focus { text-decoration: none; color: black; }

a:hover, a:active { text-decoration: none; color: black; }

#main-container {
	width: 100%;
	padding: 0px;
}

#about-container {
	width: 100%;
	background-color: #333333;
	text-align: center;
	height: 100vh;
}

#profile-image-wrapper {
	text-align: center;
}

#profile-image {
	padding-top: 20px;
	border-radius: 50%;
}

.about-text {
	color: white;
	font-family: "Roboto";
	font-weight: 500;
	width: 100%;
}

#skills-container {
	width: 100%;
	background-color: #5369a8;
	text-align: center;
	height: 100vh;
	display: flex;
}

.skill-container {
	width: 20%;
	height: 100vh;
}

.skill-icon {
	padding-top: 10px;
}

.skill-category-label {
	color: white;
	font-weight: 500;
}

.skill-list {
	list-style: none;
	padding-left: 0px;
}

.skill-item {
	color: white;
	font-weight: 400;
}

#project-link-container {
	width: 100%;
	background-color: #f8d56c;
	display: flex;
	justify-content: center;
}

#project-link-container button {
	background-color: #f8d56c;
	color: white;
	border: 2px solid white;
	outline: none;
	cursor: pointer;
	-webkit-transition: 300ms;
	margin: 0 auto;
	border-radius: 4px;
	align-self: center;
}

#project-link-container button:hover {
	background-color: white;
	color: #f8d56c;
}

@media only screen and (max-width: 700px) {

	#profile-image {
		width: 33%;
	}

	.about-text {
		font-size: 18px;
	}

	#project-link-container {
		height: 10vh;
	}

	#project-link-container button{
		height: 50px;
		width: 100px;
		font-size: 16px;
	}

	.skill-icon {
		width: 75%;
	}

	.skill-category-label {
		font-size: 16px;
	}

	.skill-item {
		font-size: 12px;
	}

	#skills-container {
		height: 50vh;
	}

}

@media only screen and (min-width: 701px) and (max-width: 1050px){

	#profile-image {
		width: 25%;
	}

	.about-text {
		font-size: 24px;
	}

	#project-link-container {
		height: 15vh;
	}

	#project-link-container button{
		height: 65px;
		width: 130px;
		font-size: 19px;
	}

	.skill-icon {
		width: 70%;
	}

	.skill-category-label {
		font-size: 24px;
	}

	.skill-item {
		font-size: 20px;
	}

	#skills-container {
		height: 75vh;
	}

}

@media only screen and (min-width: 1051px) and (max-width: 1440px) {

	#profile-image {
		width: 20%;
	}

	.about-text {
		font-size: 30px;
	}

	#project-link-container {
		height: 20vh;
	}

	#project-link-container button{
		height: 80px;
		width: 160px;
		font-size: 22px;
	}

	.skill-icon {
		width: 70%;
	}

	.skill-category-label {
		font-size: 32px;
	}

	.skill-item {
		font-size: 28px;
	}
}

@media only screen and (min-width: 1441px) {

	#profile-image {
		width: 20%;
	}

	.about-text {
		font-size: 36px;
	}

	#project-link-container {
		height: 20vh;
	}

	#project-link-container button{
		height: 80px;
		width: 160px;
		font-size: 22px;
	}

	.skill-icon {
		width: 65%;
	}

	.skill-category-label {
		font-size: 40px;
	}

	.skill-item {
		font-size: 36px;
	}

}