/* Global styles - Apply to all screen sizes */

* {
	margin: 0;
	font-family: "Roboto";
}

a { text-decoration: none; }

a:visited { text-decoration: none; color: black; }

a:hover { text-decoration: none; color: black; }

a:focus { text-decoration: none; color: black; }

a:hover, a:active { text-decoration: none; color: black; }

#main-container {
	width: 100%;
	padding: 0px;
}

.about-section {
	height: auto;
}

.about-section-profile-image {
	border-radius: 50%;
}

.about-section-profile-name {
	color: #333;
	font-weight: 500;
}

.about-section-faq {
	text-align: center;
}

.about-section-faq-header {
	font-size: 20px;
	color: #333;
}

.about-section-faq-question {
	color: #333;
}

.about-section-faq-answer {
	color: #555;
}

.project-link-container {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	height: 120px;
}

.project-link {
	align-self: center;
}

.project-link-container button {
	background-color: white;
	color: #f8946c;
	border: 2px solid #f8946c;
	outline: none;
	cursor: pointer;
	-webkit-transition: 300ms;
	margin: 0 auto;
	border-radius: 4px;
	align-self: center;
	height: 70px;
	width: 140px;
	font-size: 22px;
	font-weight: 400;
}

.project-link-container button:hover {
	background-color: #f8946c;
	color: white;
}

#skills-container {
	width: 100%;
	text-align: center;
	background-color: #5369A8;
	height: 100vh;
	display: flex;
}

.skill-container {
	width: 20%;
	height: 100%;
}

.skill-icon {
	padding-top: 20px;
}

.skill-category-label {
	color: white;
	font-weight: 500;
}

.skill-list {
	list-style: none;
	padding-left: 0px;
}

.skill-item {
	color: white;
	font-weight: 400;
}

.contact-container {
	background-color: white;
	height: 250px;
	text-align: center;
}

.contact-container p {
	color: #4cb07a;
	padding-top: 40px;
	font-weight: 400;
	font-size: 26px;
}

.contact-container button {
	background-color: white;
	color: #4cb07a;
	border: 2px solid #4cb07a;
	cursor: pointer;
	-webkit-transition: 300ms;
	outline: none;
	margin: 0 auto;
	border-radius: 4px;
	align-self: center;
	height: 60px;
	width: 120px;
	font-size: 20px;
	margin-top: 60px;
}

.contact-container button:hover {
	background-color: #4cb07a;
	color: white;
}

@media only screen and (max-width: 700px) {

	.about-section-profile {
		width: 100%;
		text-align: center;
	}

	.about-section-profile-image {
		height: 80px;
		padding-top: 10px;
	}

	.about-section-profile-name {
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 26px;
	}

	.about-section-faq {
		width: 100%;
	}

	.about-section-faq-header {
		padding-top: 10px;
		font-size: 20px;
		padding-bottom: 10px;
	}

	.about-section-faq-question {
		font-size: 18px;
		padding-bottom: 5px;
	}

	.about-section-faq-answer {
		font-size: 16px;
		padding-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.project-link-container {
		height: 60px;
	}

	.project-link-container button {
		height: 40px;
		width: 80px;
		font-size: 14px;
	}

	.skill-icon {
		width: 75%;
	}

	.skill-category-label {
		font-size: 16px;
	}

	.skill-item {
		font-size: 12px;
	}

	#skills-container {
		height: 50vh;
	}

	.contact-container {
		height: 180px;
	}

	.contact-container p {
		font-size: 18px;
		padding-top: 40px;
	}

	.contact-container button{
		height: 40px;
		width: 80px;
		font-size: 14px;
		margin-top: 40px;
	}

}

@media only screen and (min-width: 701px) and (max-width: 1050px){

	.about-section-profile {
		width: 100%;
		text-align: center;
	}
	
	.about-section-profile-image {
		height: 240px;
		padding-top: 10px;
	}

	.about-section-profile-name {
		padding-top: 10px;
		padding-bottom: 25px;
		font-size: 34px;
	}

	.about-section-faq {
		width: 100%;
	}

	.about-section-faq-header {
		padding-bottom: 25px;
		font-size: 28px;
	}

	.about-section-faq-question {
		font-size: 24px;
		padding-bottom: 5px;
	}

	.about-section-faq-answer {
		font-size: 20px;
		padding-bottom: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.skill-icon {
		width: 70%;
	}

	.skill-category-label {
		font-size: 24px;
	}

	.skill-item {
		font-size: 20px;
	}

	#skills-container {
		height: 75vh;
	}

}

@media only screen and (min-width: 1051px) {

	.about-section-profile {
		width: 100%;
		text-align: center;
	}
	
	.about-section-profile-image {
		height: 360px;
		padding-top: 10px;
	}

	.about-section-profile-name {
		padding-top: 10px;
		padding-bottom: 25px;
		font-size: 44px;
	}

	.about-section-faq {
		width: 100%;
	}

	.about-section-faq-header {
		padding-bottom: 25px;
		font-size: 36px;
	}

	.about-section-faq-question {
		font-size: 28px;
		padding-bottom: 15px;
	}

	.about-section-faq-answer {
		font-size: 24px;
		padding-bottom: 15px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.skill-icon {
		width: 70%;
	}

	.skill-category-label {
		font-size: 32px;
	}

	.skill-item {
		font-size: 28px;
	}
}
