* {
	margin: 0;
}

a { text-decoration: none; }

a:visited { text-decoration: none; color: black; }

a:hover { text-decoration: none; color: black; }

a:focus { text-decoration: none; color: black; }

a:hover, a:active { text-decoration: none; color: black; }

.header {
	height: 75px;
	background-color: #f66b6e;
}

.header-link-container {
	display: block;
}

.header-link a {
	color: white;
}

.header-placeholder {
	width: 33%;
	float: left;
}

@media only screen and (max-width: 700px) {

	.header {
		height: 30px;
	}

	.header-link {
		width: 33%;
		float: left;
		text-align: center;
	}

	.header-link {
		padding-top: 6px;
	}

	.header-link a {
		font-size: 12px;
	}

}

@media only screen and (min-width: 701px) {
	
	.header-link {
		width: 20%;
		float: left;
		text-align: center;
	}

	.header-placeholder {
		margin-right: 27%;
	}

	.header-link {
		padding-top: 22px;
	}

	.header-link a {
		font-size: 20px;
	}

}