* {
	margin: 0;
	font-family: "Roboto";
}

a { text-decoration: none; }

a:visited { text-decoration: none; color: black; }

a:hover { text-decoration: none; color: black; }

a:focus { text-decoration: none; color: black; }

a:hover, a:active { text-decoration: none; color: black; }

.projects-container {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	background-color: white;
}

.project {
	position: relative;
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
	padding-bottom: 50%;
	-webkit-transition: 325ms;
}

.project-content {
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	opacity: 0.0;
	-webkit-transition: 325ms;
	margin: 0 auto;
	float: none;
}

.project-content-title {
	color: white;
	padding-top: 30px;
}

.project-content-description {
	color: white;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}

.project-content-icontags {
	padding-top: 30px;
}

.project-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: 325ms;
}

@media only screen and (max-width: 700px) {

	.project-content-description {
		display: none;
	}

	.project-content-icontags {
		display: none;
	}

}

@media only screen and (min-width: 1051px) {

	.project {
		width: 33.3%;
		padding-bottom: 33.3%;
	}

}